body {
    background-color: #edf5f1;
}

.container {
    margin: 0 auto;
    font-family: sans-serif;
    width: 1200px;

}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    margin-top: 20px;
    padding-top: 20px;
    width: 360px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
}

span {
    color: green;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}

ul li {
    display: inline-block;
    padding-inline-start: 0px;

}

.big {
    font-size: 36px;
    margin-bottom: 0;
}

strong {
    font-size: 25px;
}

.left {
    margin-left: 80px;
}

.nomargin {
    margin-bottom: 0;
}

h1 {
    margin-top: 10px;
}

@media (min-width: 0) and (max-width: 446.9px) {
    .container {
        width: 100%;
    }

    .block {
        justify-content: center;
    }
    .box{
        width: 95%;
    }

}

@media (min-width: 447px) and (max-width: 768.9px) {
    .container {
        width: 100%;
    }

    .block {
        justify-content: center;
    }

}

@media (min-width: 769px) and (max-width: 989.9px) {
    .container {
        width: 100%;
    }

    .block {
        justify-content: space-evenly;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .block {
        justify-content: space-evenly;
    }
}




